<html>
  <head>
    <style>
      html, body {
        padding: 0;
        margin: 0;
        background: #000;
      }

      canvas {
        display: block;
        margin: 40px auto;
      }

      .what {
        color: #fff;
        text-align: center;
      }

      h2 {
        font-size: 16px;
        margin-bottom: 2px;
      }
      p {
        margin-top: 0;
      }
      a, a:visited, a:hover {
        color: white;
      }
    </style>

    <title>33rpm</title>
  </head>

  <body>
    {{#if IS_PRODUCTION }}
      <script src="app.min.js"></script>
    {{else}}
      <script src="lib/underscore.js"></script>
      <script src="lib/coquette.js"></script>
      <script src="lib/state-machine.js"></script>
      <script src="lib/bezier-easing.js"></script>
      <script src="app.js"></script>
    {{/if}}

    <canvas id="canvas"></canvas>
    <div class="what">

      <h2>INSTRUCTIONS</h2>
      <p>
        shoot the <span style="color: red">enemies</span>. when they hit the <span style="color: red">barrier line</span>, they'll move one lane inward. <br/>
        if an enemy on the innermost lane hits the <span style="color: red">line</span>, you lose.
      </p>

      <h2>CONTROLS</h2>
      <p>
        left/right to move - space to fire
      </p>

      <h2>SOURCE</h2>
      <p>
        <a href="https://github.com/thomasboyt/33rpm">https://github.com/thomasboyt/33rpm</a>
      </p>
    </div>

    <script>
      new Game();
    </script>
  </body>
</html>
