<html>
  <head>
    <style>
      html, body {
        padding: 0;
        margin: 0;
        background: #000;
      }
      canvas {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -300px;
        margin-left: -350px;
      }
    </style>
  </head>

  <body>
    {{#if IS_PRODUCTION }}
      <script src="app.min.js"></script>
    {{else}}
      <script src="lib/underscore.js"></script>
      <script src="lib/coquette.js"></script>
      <script src="lib/state-machine.js"></script>
      <script src="app/app.js"></script>
    {{/if}}

    <canvas id="canvas"></canvas>

    <script>
      new Game();
    </script>
  </body>
</html>
