<html>
  <head>
    <style>
      html, body {
        padding: 0;
        margin: 0;
        background: #000;
      }

      canvas {
        display: block;
        margin: 40px auto;
      }

      .what {
        color: #fff;
        text-align: center;
      }

      h2 {
        font-size: 16px;
        margin-bottom: 2px;
      }
      p {
        margin-top: 0;
      }
      a, a:visited, a:hover {
        color: white;
      }

      .dot {
        color: skyblue;
      }
      .barrier {
        color: pink;
      }
      .spawner {
        color: red;
      }
    </style>

    <title>33rpm</title>
  </head>

  <body>
    {{#if IS_PRODUCTION }}
      <script src="app.min.js"></script>
    {{else}}
      <script src="lib/underscore.js"></script>
      <script src="lib/coquette.js"></script>
      <script src="lib/state-machine.js"></script>
      <script src="lib/bezier-easing.js"></script>
      <script src="lib/dancer.js"></script>
      <script src="app.js"></script>
    {{/if}}

    <canvas id="canvas"></canvas>
    <div class="what">

      <h2>INSTRUCTIONS</h2>
      <p>
        shoot the <span class="dot">dots</span> for points. <br/>
        avoid the <span class="barrier">barriers</span>. <br/>
        when <span class="dot">dots</span> hit the <span class="spawner">barrier line</span>, they'll move one lane inward. <br/>
        if a <span class="dot">dot</span> on the innermost lane hits the <span class="spawner">line</span>, you lose.
      </p>

      <h2>CONTROLS</h2>
      <p>
        left/right to move - space to fire
      </p>

      <h2>SOURCE</h2>
      <p>
        <a href="https://github.com/thomasboyt/33rpm">https://github.com/thomasboyt/33rpm</a>
      </p>

      <h2>CREDITS</h2>
      <p>
        <em>Music</em>:<br/>
        "Mirrorball" by <a href="https://soundcloud.com/melee">Melee</a>
      </p>
      <p>
        <em>Icons</em>:<br/>
        Mute by Vania Platonov from The Noun Project
      </p>
    </div>

    <script>
      window.game = new Game();
    </script>
  </body>
</html>
